<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xs.laboratory.mapper.DeviceMapper">
    <select id="getDevice" resultType="com.xs.laboratory.entity.Device">
        select * from device where name =#{name}
    </select>

    </mapper>